@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");

body {
  font-family: "Roboto";
}

.numbers {
  font-weight: 800;
}

.title {
  cursor: pointer;
}

.title:hover {
  padding: 82px 0;
  border-bottom: 3px solid white;
  margin-top: 3px;
}
